<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- load css style for the website -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile_ui.css') }}">
	<!-- wrapped element class for debugging purposes -->
	<style type="text/css">
	.wrappedElement {
			border: 1px solid red;
			background-color: pink;
		}
	</style>
	
	<!-- load jQuery library directly from google for performance reasons -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<script src="{{ url_for('static', filename='scripts/jquery_mobile_config.js') }}"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="{{ url_for('static', filename='scripts/mobile_ui.js') }}"></script>
	
		<!-- define a global variable with the script root, this has to be performed
	in the template file to work properly, and allow providing local static files -->
	<script type="text/javascript">
		$(function(){
			// defining the URL for AJAX requests
			SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		});
	</script>

	<!-- define the browser bar icon for the website -->
	<title>RGB LED Control Center</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<!-- Start of "Home" page -->
	<div data-role="page" class="ui-responsive-panel" id="home">

		<div data-role="header" data-position="fixed">
			<h1>Home</h1>
			<a href="#menu_panel" data-icon="gear">Menu</a>
		</div><!-- /header -->

		<div data-role="content">
			<form>
				<input value="test" type="button" id="test_button">
			</form>
		</div><!-- /content -->
	
	</div><!-- /page -->

	<!-- Start of "Status" page -->
	<div data-role="page" class="ui-responsive-panel" id="status">

		<div data-role="header" data-position="fixed">
			<h1>Status</h1>
			<a href="#menu_panel" data-icon="gear">Menu</a>
		</div><!-- /header -->

		<div data-role="content" >
			<h3>Overview over all controllers connected to the system</h3>
			<ul data-role="listview" id="controller_list" data-theme="d" data-divider-theme="d">
				<!-- list of controllers is embedded here dynamically -->
			</ul>
			<hr>
			<h3>Overview over all defined LED sets</h3>
			<ul data-role="listview" id="led_set_list" data-theme="d" data-divider-theme="d">
				<!-- list of led set's is embedded here dynamically -->
			</ul>
			<hr>
			<form>
				<input value="New LED Set" type="button" id="load_button">
			</form>
		</div><!-- /content -->
		
	</div><!-- /page -->
	
	<!-- Start of "Controller Details" page -->
	<div data-role="page" class="ui-responsive-panel" id="contr_details">
	
	<div data-role="header" data-position="fixed">
			<h1>Controller Details</h1>
			<a href="#menu_panel" data-icon="gear">Menu</a>
		</div><!-- /header -->

		<div data-role="content" >
			<form>
				<label for="text-basic">Controller Name:</label>
				<input type="text" name="text-basic" id="contr_name" value="">
				<label for="slider">Brightness:</label>
				<input type="range" name="slider" id="contr_brightness" value="50" min="0" max="255">
				<input value="Save" type="button" id="contr_save_button">
			</form>
		</div><!-- /content -->
		
	</div><!-- /page -->
	
	<!-- Enable Panel menu access via Swipe gestures -->
	<script type='text/javascript'>
		$(document).on('pageinit',function(){
			$("#content").on("swiperight",function(){
				$("#menu_panel").panel( "open");
			});
		});
	</script>
</body>
</html>
